In [11]:
def A(a, b, s='%s'):
  print(s % ('A(%d,%d)' %(a,b)))
  if a == 0:
    return b+1
  elif b == 0: 
    return A(a-1, 1, s)
  else:
    return A(a-1, A(a, b-1,s % ('A(%d, %%s)' % (a-1))), s)

In [12]:
A(1,1)

A(1,1)
A(0, A(1,0))
A(0, A(0,1))
A(0,2)

3

In [13]:
A(1,2)

A(1,2)
A(0, A(1,1))
A(0, A(0, A(1,0)))
A(0, A(0, A(0,1)))
A(0, A(0,2))
A(0,3)

4

In [14]:
A(1,3)

A(1,3)
A(0, A(1,2))
A(0, A(0, A(1,1)))
A(0, A(0, A(0, A(1,0))))
A(0, A(0, A(0, A(0,1))))
A(0, A(0, A(0,2)))
A(0, A(0,3))
A(0,4)

5

In [15]:
A(2,1)

A(2,1)
A(1, A(2,0))
A(1, A(1,1))
A(1, A(0, A(1,0)))
A(1, A(0, A(0,1)))
A(1, A(0,2))
A(1,3)
A(0, A(1,2))
A(0, A(0, A(1,1)))
A(0, A(0, A(0, A(1,0))))
A(0, A(0, A(0, A(0,1))))
A(0, A(0, A(0,2)))
A(0, A(0,3))
A(0,4)

5